#img {
  width: 200px;
  height: 200px;
}

.with-egg {
  background-image: url('../with-egg.png');
}
.without-egg{
  background-image: url('../without-egg.png');
}

.hidden {
  display: none;
}

#note {
  font-weight: bold;
  font-size: 1.1em;
}

label {
  display: inline-block;
  width: 115px;
}