a{
    display:inline-flex;
    allign-items: center;
    padding-left:20px;
    background:url("../../../images/OIP(2).jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left center;
}
